<div class="container" id="container">

    <div class="form-container sign-in-container">
        <form [formGroup]="loginForm">
            <h1>Sign in</h1>
            <div class="m-5">
                <a style="cursor: pointer;" (click)="googleLogin()" class=" social text-white p-4"><i class="text-white fa fa-google-plus"></i> Google </a>
            </div>
            <span>or use your account</span>
            <input type="text" formControlName="username" placeholder="Email or Username..." />
            <div *ngIf="submitted && f.username.errors" class="text-danger">
                <div *ngIf="f.username.errors.required">Please Enter Username or Email</div>
            </div>
            <input type="password" formControlName="password" placeholder="Password.." />
            <div *ngIf="submitted && f.password.errors" class="text-danger">
                <div *ngIf="f.password.errors.required">Please Enter Password</div>
            </div>
            <a href="#">Forgot your password?</a>
            <button (click)="login(loginForm.value)">Sign In</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>To keep connected with us please login with your personal info</p>
                <button class="ghost" id="signIn">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Hello, Friend!</h1>
                <p>Enter your personal details and start journey with us</p>
                <button (click)="goToSignup()" class="ghost" id="signUp">Sign Up</button>
            </div>
        </div>
    </div>
</div>