<div class="container border p-3">
    <form [formGroup]="addContentForm">
        <div class="d-flex justify-content-center align-items-center">
            <img height="100" width="300" class=" img-thumbnail" [src]="imageUrl" />
        </div>
        <div class="text-center text-muted" *ngIf="imageUrlName">
            <b>{{imageUrlName}}</b>
        </div>
        <div class="text-center mt-3">
            <button class="btn btn-primary " (click)="file.click()">Upload Image</button>
            <input type="file" (change)="selectFile($event)" style="display: none" class="form-control" #file />
        </div>
        <div class="form-group">
            <label for="email">Content Title</label>
            <input type="text" class="form-control" formControlName="content_title" placeholder="Enter Content title"
                id="email">
            <div *ngIf="submitted && f.content_title.errors" class="text-danger">
                <div *ngIf="f.content_title.errors.required">Please Enter Content title</div>
            </div>
        </div>
        <div class="form-group">
            <label>Content Description</label>
            <textarea class="form-control" formControlName="content_description" cols="50" rows="10"></textarea>
            <div *ngIf="submitted && f.content_description.errors" class="text-danger">
                <div *ngIf="f.content_description.errors.required">Please Enter Content Description</div>
            </div>
        </div>
        <div class="form-group">
            <label for="my-select">Content Language</label>
            <select id="my-select" formControlName="content_lang" class="form-control">
                <option value="null" selected disabled>Select Content Language</option>
                <option value="en">English</option>
                <option value="hd">Hindi</option>
                <option value="sp">Spanish</option>
                <option value="po">Portugese</option>
                <option value="it">Italian</option>
            </select>
        </div>
        <div><b>Content rating</b></div>
        <div class="rating">
            <label>
                <input type="radio" formControlName="ratings" value="1" />
                <span class="icon">★</span>
            </label>
            <label>
                <input type="radio" formControlName="ratings" value="2" />
                <span class="icon">★</span>
                <span class="icon">★</span>
            </label>
            <label>
                <input type="radio" formControlName="ratings" value="3" />
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
            </label>
            <label>
                <input type="radio" formControlName="ratings" value="4" />
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
            </label>
            <label>
                <input type="radio" formControlName="ratings" value="5" />
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
            </label>
        </div>
        <div class="form-group">
            <label for="my-select">Content Level</label>
            <select id="my-select" formControlName="content_level" class="form-control">
                <option value="ull" selected disabled>Select Content Level</option>
                <option value="0">Beginner</option>
                <option value="1">Intermediate</option>
                <option value="2">Difficult</option>
            </select>
        </div>
        <br>
        <button type="button" (click)="addContet()" class="btn btn-primary">Submit</button>
    </form>
</div>